.footer {
    width: 100%;
    height: 293px;

    margin-top: 71.76px;

    position: relative;
    overflow: hidden;

    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.footer__bg {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    width: 100%;
    height: 100%;

    transform: skewY(-4.25deg);
    transform-origin: top right;

    background: var(--darker-gray);
}

.footer__content {
    position: relative;
    height: 50px;

    margin-bottom: 86px;

    text-align: center;
}

.footer__content__paragraph {
    position: relative;

    font-size: 12px;
    line-height: 18px;

    color: var(--white);
}