.article {
    margin-right: 60px;

    width: 520px;
}

.article__title {
    color: gray;

    margin-bottom: 30px;
}

.article__paragraph {
    font-size: 12px;
    line-height: 18px;

    color: var(--gray);
}

.article__paragraph:first-of-type {
    margin-bottom: 20px;
}

.button {
    height: 39px;

    background-color: var(--white);
    color: var(--gray);

    border: 1px solid var(--darker-gray);
    border-radius: 4px;

    outline: none;

    font-size: 16px;
    line-height: 16px;
}

.dividing-line {
    display: flex;
    justify-content: center;

    width: 920px;

    border-top: 1px solid var(--darker-gray);

    position: relative;
}

.footer {
    width: 100%;
    height: 293px;

    margin-top: 71.76px;

    position: relative;
    overflow: hidden;

    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.footer__bg {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    width: 100%;
    height: 100%;

    transform: skewY(-4.25deg);
    transform-origin: top right;

    background: var(--darker-gray);
}

.footer__content {
    position: relative;
    height: 50px;

    margin-bottom: 86px;

    text-align: center;
}

.footer__content__paragraph {
    position: relative;

    font-size: 12px;
    line-height: 18px;

    color: var(--white);
}

.header {
    width: 100%;
    height: 399px;

    position: relative;
    overflow: hidden;

    color: var(--white);

    text-align: center;
}

.header__bg {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    width: 100%;
    height: 100%;

    transform: skewY(4.25deg);
    transform-origin: top right;

    background: var(--darker-gray);
}

.header__title {
    position: relative;
    
    margin-top: 69px;
}

.header__title__emphasis {
    line-height: 49px;

    display: block;

    font-size: 40px;
    font-weight: bold;
}

.header__paragraph {
    position: relative;

    margin-top: 24px;

    font-size: 14px;
    line-height: 16px;
}

.heading_level_1 {
    font-size: 20px;
    line-height: 24px;
}

.heading_level_2 {
    font-size: 18px;
    font-weight: bold;

    color: var(--gray);
}

.input {
    height: 30px;
    width: 340px;

    background-color: var(--white);
    color: var(--gray);

    border: 1px solid var(--darker-gray);

    font-size: 12px;
    
    padding: 6px;

    outline: none;
}

.input_radio {
    width: 14px;

    margin-right: 5px;
}

.label {
    font-size: 12px;
    line-height: 14px;

    color: var(--gray);

    align-self: flex-start;

    margin-bottom: 7px;
}

.label_input-radio {
    margin-bottom: 0px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 21px;

    color: var(--gray);
}

.menu {
    position: relative;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;

    margin: 62px auto;

    width: fit-content;
}

.menu__item {
    height: 40px;
    width: 160px;

    background-color: var(--white);
    color: var(--gray);
    box-shadow: 0px 1px 6px var(--lighter-gray);

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid var(--darker-gray);
    border-radius: 4px;

    font-size: 14px;
    line-height: 16px;
}

.section {
    display: flex;
}

.section__form__group {
    margin-bottom: 20px;

    display: flex;
    flex-direction: column;
}

.section__form__group__flex-row {
    flex-direction: row;
    align-items: center;

    height: 14px;
}

.section__form__group__input-radio {
    display: flex;
    align-items: center;

    margin-right: 40px;
}

.section__form__button {
    width: 100%;
}

.section_products {
    flex-direction: column;

    line-height: 16px;

    margin-top: 91px;
}

.section_products__title-adapter {
    background: var(--white);

    padding: 0px 17px;

    position: absolute;
    top: -6.5px;
}

.section__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 39px 41px;

    margin-top: 60px;
}

.section__list__item {
    width: 200px;
}

.section__list__item__img {
    height: 150px;
    width: 100%;

    border: 1px solid var(--darker-gray);
    outline: none;
}

.section__list__item__title {
    font-size: 14px;

    margin-bottom: 10px;
    margin-top: 14px;
}

.section__list__item__paragraph {
    font-size: 12px;

    height: 60px;
}

.section__list__item__price {
    font-size: 12px;

    display: block;
}

.section__list__item__price__emphasis {
    font-weight: bold;
    font-size: 16px;

    margin: 6px 0;
}

.section__list__item__link-button {
    height: 30px;

    margin-top: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.section__products__button {
    margin-top: 52px;

    width: 260px;

    align-self: center;
}

.section_friend-form {
    margin-top: 140px;

    flex-direction: column;
    align-items: center;
    justify-content: center;

    line-height: 16px;

    color: var(--gray);
}

.section_friend-form__title-adapter {
    background-color: var(--white);

    position: absolute;
    top: -7.5px;

    padding: 0 5px 0 6px;
}

.section_friend-form__paragraph {
    font-size: 14px;

    margin-top: 44px;
}

.section_friend-form__form {
    display: flex;
    flex-direction: column;
}

.section_friend-form__form__container {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 39px;
}

.section_friend-form__form__container__group:first-of-type {
    margin-right: 40px;
}

.section_friend-form__form__button {
    width: 260px;

   margin-top: 50px;

   align-self: center;
}
