.article {
    margin-right: 60px;

    width: 520px;
}

.article__title {
    color: gray;

    margin-bottom: 30px;

    position: relative;
}

.article__paragraph {
    font-size: 12px;
    line-height: 18px;

    color: var(--gray);
}

.article__paragraph:first-of-type {
    margin-bottom: 20px;
}

.dividing-line {
    display: flex;
    justify-content: center;
    align-self: center;

    width: 920px;

    border-top: 1px solid var(--darker-gray);

    position: relative;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 21px;

    color: var(--gray);
}

.section {
    display: flex;
}

.section__form {
    display: flex;
    flex-direction: column;
}

.section__form__group {
    margin-bottom: 20px;

    display: flex;
    flex-direction: column;
}

.section__form__group__flex-row {
    flex-direction: row;
    align-items: center;

    height: 14px;
}

.section__form__group__input-radio {
    display: flex;
    align-items: center;

    margin-right: 40px;
}

.section__form__button {
    width: 100%;
    height: 39px;
}

.section_products {
    flex-direction: column;

    line-height: 16px;

    margin-top: 91px;
}

.section_products__title-adapter {
    background: var(--white);

    padding: 0px 17px;

    position: absolute;
    top: -6.5px;
}

.section__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 39px 41px;

    margin-top: 60px;
}

.section__list__item {
    width: 200px;
}

.section__list__item__img {
    height: 150px;
    width: 100%;

    border: 1px solid var(--darker-gray);
    outline: none;
}

.section__list__item__title {
    font-size: 14px;

    margin-bottom: 10px;
    margin-top: 14px;
}

.section__list__item__paragraph {
    font-size: 12px;

    height: 60px;
}

.section__list__item__price {
    font-size: 12px;
}

.section__list__item__price__emphasis {
    font-weight: bold;
    font-size: 16px;

    margin: 6px 0;
}

.section__list__item__link-button {
    height: 30px;
    width: 200px;

    margin-top: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.section__products__button {
    margin-top: 51px;

    width: 260px;
    height: 39px;

    align-self: center;
}

.section_newsletter {
    margin-top: 140px;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    line-height: 16px;

    color: var(--gray);
}

.section_newsletter__title-adapter {
    background-color: var(--white);

    position: absolute;
    top: -7.5px;

    padding: 0 5px 0 6px;
}

.section_newsletter__paragraph {
    font-size: 14px;

    margin-top: 44px;
}

.section_newsletter__form__container {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 39px;
}

.section_newsletter__form__container__group {
    margin-bottom: 0;
}

.section_newsletter__form__container__group:first-of-type {
    margin-right: 40px;
}

.section_newsletter__form__button {
    width: 260px;
    height: 39px;

   margin-top: 50px;

   align-self: center;
}

@media only screen and (max-width: 991.98px) {
    .article__scroll-arrow {
        border: solid var(--darker-gray);
        border-width: 0 2px 2px 0;
    
        display: inline-block;

        padding: 5.6px;

        margin-left: 36px;

        position: fixed;
        top: 438px;

        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);

        transition: transform .3s linear;
    }

    .article {
        width: 386px;

        margin-bottom: 30px;
        margin-right: 0px;
    }

    .dividing-line {
        width: 420px;
    }

    .main {
        margin-top: 29px;
    }

    .section {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .section__form__button {
        width: 383px;
    }

    .section__list {
        grid-template-columns: 1fr;
        gap: 30px;
    
        margin-top: 23px;
    }

    .section__list__item {
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 392px;

        margin-top: 23px;
    }

    .section__list__item__img {
        width: 169px;
        height: 129px;
    }

    .section__list__item__paragraph {
        display: none;
    }

    .section__list__item__title {
        margin-bottom: 13px;
        margin-top: 0;
    }

    .section_newsletter {
        margin-top: 129px;

        width: 420px;

        align-items: flex-start;

        padding: 0 9px;
    }

    .section_newsletter__paragraph {
        margin-top: 28px;
    }

    .section_newsletter__form__container {
        flex-direction: column;
    
        margin-top: 28px;
    }

    .section_newsletter__form__container__group:first-of-type {
        margin-bottom: 20px;
        margin-right: 0px;
    }

    .section_newsletter__form__button {
       margin-top: 42px;

    }
}

@media only screen and (min-width: 767.98px) and (max-width: 991.98px) {
    .section__form {
        align-items: center;
    }

    .section_newsletter {
        align-items: center;
    }
}